.table {
  margin-bottom: 0;
}
.table th {
  color: #332438;
  background-color: #f3f3f3;
}

.table td {
  color: #403c40;
}
.data {
  font-size: 13px;
}

td.status {
  font-size: 12px;
  font-weight: 700;
}

td.active {
  color: #068121;
}

td.completed {
  color: #e45;
}

td.new {
  color: #06358b;
}

.MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -10px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
